{% load staticfiles %}
{% include "graphics/includes/header.html" %}

<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 ">


    <article>
    <div class="entry-content">

     <h3  style="word-break: keep-all;font-family:'Times New Roman', Times, serif;font-size:32px" > Guidelines for Interface Usage</h3>

<hr/><br/>
         <div >
          <p style="word-break: keep-all;font-family:'Times New Roman', Times, serif;font-size:18px; align:'justify'" >Arithmetic operation operators, mathematical constants and  functions to be used when entering data to the data entry screen in the Simulations and Calculations menus are given in Table 1, Table 2, and Table 3, respectively.
Decimal expressions must be used with dot.</p>

<div class="guidetables">
 <h2  style="word-break: keep-all;font-family:'Times New Roman', Times, serif;font-size:20px" > Table 1: Data entry of arithmetic operators</h2>
      <img  src="../static/graphics/images/arithmeticoperators.JPG" width="100%" height="100%" style="margin: 0 auto;" />

    </div>
<br/>
<div class="guidetables">
 <h2  style="word-break: keep-all;font-family:'Times New Roman', Times, serif;font-size:20px" > Table 2: Data entry of mathematical constants</h2>
      <img  src="../static/graphics/images/mathematicalconstant.JPG" width="80%" height="500%" style="margin: 0 auto;" />

    </div>


        </div>







    </div><!-- End simulation zone -->





    </article>

    </div>
    <br/>
     <div class="col-xs-12 col-sm-6 col-md-6 " id="sidebar" style="word-break: keep-all;font-family:'Times New Roman', Times, serif;">
<aside>





 <div align="center">
<div class="guidetables">
 <h2  style="word-break: keep-all;font-family:'Times New Roman', Times, serif;font-size:20px" > Table 3: Data entry of functions</h2>
      <img  src="../static/graphics/images/functions.JPG" width="100%" height="200%" style="margin: 0 auto;" />

    </div>



        </div>
    </div>

</aside>
    </div>
</div> <!-- class="container" -->
   <br/>
{% include "graphics/includes/footer.html" %}


